h1 {
  text-align:center;
}

.button{
   
  border: 2px solid white;
  color: black;
  font-weight:bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration:none;
  border-radius:5px;
  background-color:aqua;
  display: inline-block;
  font-size: 16px;
  margin:4px 2px;
  transition-duration:0.4s;
  cursor:pointer;
  z-index: 1;
  border-radius: 30px;
}

.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
}



input[type=text] {
 
 box-sizing: border-box;
 border: 2px solid #ccc;
 font-size: 24px;
 background-color: rgb(61, 94, 100);
 border-radius: 30px;
 background-position: 10px 10px; 
 background-repeat: no-repeat;
 padding: 12px 20px 12px 30px;
}

.navbar {
  width: 100%;
  background-color: rgb(26, 20, 20);
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #264b49;
}

.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}


.navbar .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navbar .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navbar .sidenav a:hover {
  color: #f1f1f1;
}

.navbar .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar span{
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.social{
  background: black;
  clear: both;
    position: relative;
    width: 100%;
    margin-top: -100px;
    margin: 10px;
    z-index: -1;
    
    text-align:justify;
    padding: 20px 2px;
    bottom: 0;

}

.container ul li{
  display:inline;
  padding: 1%;
}

.container ul{
  text-align: center;
}



#outputbox
{
  position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    width: 1285px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(231, 25, 197);
    color:white;
    font-size: 15;
    align-content: center;
    height: 250px;
}

.terminal{
  margin-top: 350px;
  z-index: 1;

}


/* Float four columns side by side */
.column .terminal {
  float: left;
  width: auto;
  padding: 10 10px;
  margin: 50px
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 300px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#card1 {
  display: inside;
  white-space: normal;
  border-width: 10px;
  border-top-color: chartreuse;
  padding-top 5rem;
}

#card2 {
  display: outside;
  white-space: normal;
   padding-top: 15rem; 
   border-width: 5px;

}

a.button1 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 15px 32px;
  text-align: center;
  background-color:bisque;
  display: inline-block;
  font-size: 15px;
  margin:4px 2px;
  transition-duration:0.4s;
  cursor:pointer;
  z-index: 1;
  border-radius: 30px;
  
}

.scroll{
overflow-y:scroll;

}

.scroll::-webkit-scrollbar{
display: none;
}
